Options -Indexes
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
</IfModule>
# A lib.php-t és az auth.php-t csak include-olni lehet.
<FilesMatch "^(lib|auth)\.php$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
